.margin_to_navbar{
    margin-top: 50px;
}

.span_pink{
    color: pink;
}

.back_button{
    border-radius: 5px;
    background-color: burlywood;
    width: 70px;
    margin-bottom: 40px;
}


.back_button:hover{
    background-color: black;
    color: white;
}
